* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.logo {
    display: inline-block;
    font-size: 30px;
    margin: 0;
}

.login {
    float: right;
}

.login ul li {
    list-style: none;
    display: inline;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;

}

.header {
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 10vh;
    background-color: rgb(177, 177, 177);
    margin: -10px;
    width: 100%;
}