* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

body{
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),
    url("assets/por_do_sol.jpg");
  background-size:cover;
  height: 100%;
}

html {
  height: 100%;
}

.logo_container {
  margin: 0;
  float: left;
  width: 95px;
  height: 100%;
  margin-left: 20px;
}

.logo {
  width: auto;
  height: 100%;
}

.login {
  float: right;
  margin-top: 15px;
  margin-right: 15px;
}

.login ul li {
  position: relative;
  list-style: none;
  display: inline;
  font-size: 20px;
  margin-right: 15px;
  color: rgba(255, 255, 255, 0.813);
  animation: 3s color;
}

.login ul li:hover {
  color: brown;
  cursor: pointer;
}

.header {
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: block;
  height: 50px;
  background-color: rgba(0, 0, 0, 1);
  width: 100%;
}

.start_messages,
.game_window,
.misc {
  display: inline-block;
  background-color: none;
  border-radius: 10px;
}

.start_messages {
  width: 18%;
  margin-right: 50px;
  margin-left: 50px;
  background-color: rgba(0, 0, 0, 0.148);
}

.game_window {
  width: 50%;
  margin-right: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.148);
}

.misc {
  width: 18%;
  border: none;
}

.rules_classifications {
  background-color: rgba(0, 0, 0, 0.148);
  height: 40%;
  border-radius: 10px;
}

#configurations {
  height: 45%;
  margin-bottom: 33px;
  background-color: rgba(0, 0, 0, 0.148);
  border-radius: 10px;
  padding: 10px;
  padding-bottom: 0;
  z-index: 100;
  position: relative;
}

.main_window {
  display: flex;
  padding-top: 30px;
  height: 92%;
  margin: 0;
}

.el_fig {
  width: 20px;
  height: 480px;
  background-color: rgb(255, 255, 255);
  border: 3px rgb(0, 0, 0) solid;
  border-radius: 50px;
  box-shadow: inset 0 0 5px #000000;
  margin: 5px;
  cursor: pointer;
  text-align: center;
  justify-content: center;
}

.game_window td {
  text-align: center;
  font-weight: bold;
  color: white;
}

#login_form {
  left: 50%;
  top: 25%;
  transform: translate(-50%, 5%);
  position: fixed;
  display: none;
  width: 35%;
  height: 25%;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  padding: 30px;
  padding-bottom: 5px;
  z-index: 99;
}

#winnerpop {
  left: 50%;
  top: 25%;
  transform: translate(-50%, 5%);
  position: fixed;
  display: none;
  width: 35%;
  height: 25%;
  background-color: black;
  border-radius: 10px;
  padding: 30px;
  padding-bottom: 5px;
  z-index: 99;
}

#winnerName {
  margin-top: 6%;
  font-size: 30px;
  font-weight: bold;
  color: white;
  text-align: center;
}

#infopop {
  left: 50%;
  top: 22%;
  transform: translate(-50%, 5%);
  position: fixed;
  display: none;
  width: 35%;
  height: 50%;
  background-color: black;
  border-radius: 10px;
  padding: 30px;
  padding-bottom: 5px;
  z-index: 99;
  color: white;
  font-size: 17px;
}

#infopop ul {
  margin-left: 25px;
}

#infoicon {
  font-size: 20px;
  float: right;
  margin-right: 20px;
  color: black;
  cursor: pointer;
}

#infoicon:hover{
  color: brown;
  cursor: pointer;
}


#newgamebtn {
  background-color: brown;
  color: white;
  padding: 14px 20px;
  margin-top: 15%;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 10px;
}

#newgamebtn:hover {
  opacity: 0.8;
}

.user_div {
  display: block;
  text-align: center;
  justify-content: center;
  height: 100%;
}

.pass_div {
  display: block;
  text-align: center;
  justify-content: center;
  height: 100%;
}

button:hover{
  background-color: brown;
}

.nextTurnBtn {
  top:10%;
  left: 25%;
  position: absolute;
  background-color: black;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  margin-top: 13px;
  cursor: pointer;
}

#start {
  width: 100%;
  height: 5%;
  background-color: #000000;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}

#start:hover{
  background-color: brown;
  cursor: pointer;
}

b{
  color: white;
}

#exitbackground {
  background-color: #000000;
  opacity: 0.4;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 2;
  position: fixed;
}

#classificationspop {
  position: relative;
  display: none;
  width: 81%;
  height: 100%;
  background-color: black;
  color: white;
  border-radius: 10px;
  margin-top: 3%;
  font-size: 17px;
  padding: 30px;
  padding-bottom: 5px;
}

#classificationspop p {
  display: inline-block;
}


#classificationsbtn {
  top:10%;
  width: 49%;
  background-color: black;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  height: 30px;
  cursor: pointer;
}

#classificationsbtn:hover {
  background-color: brown;
}

#rulespop {
  position: relative;
  display: none;
  width: 81%;
  height: 100%;
  background-color: black;
  color: white;
  border-radius: 10px;
  margin-top: 3%;
  font-size: 17px;
  padding: 30px;
  padding-bottom: 5px;
}

#rulesbtn {
  top:10%;
  width: 49%;
  height: 30px;
  background-color: black;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

#rulesbtn:hover {
  background-color: brown;
}